<div *ngIf="mode==='small'" class="card-film film-small">
    <img appImgBroken [src]="'https://www.themoviedb.org/t/p/w220_and_h330_face' + film.poster_path" [alt]="film.title" class="cover">
    <div class="content-film">
        <span *ngIf="film.title">{{ film.title }}</span>
        <span *ngIf="!film.title">{{ film.name }}</span>
    </div>
    <div class="buttons-film">
        <button *ngIf="true" class="play-btn">
            <i class="uil " [ngClass]="{'uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div>

<!-- Diseño del mode (big)-->
<div *ngIf="mode==='big'" class="card-film film-big">

    <img appImgBroken [src]="'https://www.themoviedb.org/t/p/w220_and_h330_face' + film.poster_path" [alt]="film.id" class="cover">

    <div class="content-film">
        <div class="title-film">{{film.name}}</div>
        <div class="sub-title-film">{{film.name}}</div>
    </div>
    <div class="buttons-film">
        <button  *ngIf="true" class="play-btn">
            <i class="uil " [ngClass]="{'uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div>
