<form (ngSubmit)="submitForm()">
    <div class="form-group">
        <label class="label-comment" for="rating">Calificación:</label>
        <div class="star-selector">
            <i class="uil uil-star" [class.selected]="selectedRating >= 2" (click)="setSelectedRating(2)"></i>
            <i class="uil uil-star" [class.selected]="selectedRating >= 4" (click)="setSelectedRating(4)"></i>
            <i class="uil uil-star" [class.selected]="selectedRating >= 6" (click)="setSelectedRating(6)"></i>
            <i class="uil uil-star" [class.selected]="selectedRating >= 8" (click)="setSelectedRating(8)"></i>
            <i class="uil uil-star" [class.selected]="selectedRating >= 10" (click)="setSelectedRating(10)"></i>
        </div>
    </div>
    <div class="comment" class="form-group">
        <label class="label-comment" for="comment">Déjanos un comentario:</label>
        <textarea class="comment-textarea" id="comment" name="comment" [(ngModel)]="comment" rows="4"></textarea>
    </div>
    <button class="form-button " type="submit">Enviar</button>
</form>